@import "node_modules/materialize-css/sass/materialize.scss";

html {
    font-family: 'Muli', sans-serif;
}

#contenedor-principal {
	padding-left: 240px;
}

.button-collapse {
	margin-left: 10px;
}

.selected{
	background-color: rgba(0, 0, 0, 0.1);
}

.card {
	span, h3, a {
		color: black !important;
	}
}

@media all and (max-width: 400px) {
    #main-menu {
        visibility: visible;
    }
}

@media only screen and (max-width: 992px) {
    #contenedor-principal {
        padding-left: 0;
    }
}